{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="base_title">Astronaut Medical Search Engine</title>
    <link rel="stylesheet" href="{% static 'dank.css' %}">
    {% block header %}
    {% endblock header %}
</head>
<body>
    <div class="page_content">
    <div class="content">
    {% block content %}
    {% endblock content %}
    </div>
    <footer class="footer">
        <ul class="footer_links">
            <li>Developed by <a href="http://www.github.com/nmscannell" target="_blank">Natasha Scannell</a></li>
            <li>Image Credits to <a href="http://www.nasa.gov" target="_blank">NASA</a></li>
        </ul>
    </footer>
    </div>
</body>
</html>