body {
  background: url("nebula.jpg")
    no-repeat center center fixed;
  background-size: cover;
}

/* Blurring the bottom portion of the background image to add text */

.page_content {
  position: relative;
  min-height: 100vh;
}

.content {
  padding-bottom: 2.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 13px;
  justify-content: center;
  text-align: center;
}

.footer_links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer_links li {
  margin-left: .5em;
  padding-left: 1em;
  position: relative;
}

.footer_links li:before {
  content: "•";
  position: absolute;
  left: 0;
}

.footer_links li:first-child {
  margin-left: 0;
  padding-left: 0;
}

.footer_links li:first-child:before {
  content: "";
}

.footer_links a {
  color: inherit;
  text-decoration: none;
}
