body {
  background: url("nebula.jpg")
    no-repeat center center fixed;
  background-size: cover;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

.results {
  width: 450px;
  padding: 15px;
  margin: 75px auto 50px auto;
}

.results h1 {
  test-align: center;
  font-size:5vw;
  width: 800px;
  margin-left: -125px;
  margin-bottom: 100px;
}

.results ol {
    list-style-type: none;
}

.results ol li {
    list-style-type: none;
}