/* -----------------------------------------------------------------------------
This search bar was adapted from a blog post from Catalin Rosu, a.k.a 'Red'*
 * https://speckyboy.com/how-to-build-a-stylish-css3-search-box/
------------------------------------------------------------------------------*/

.form-box {
  width: 600px;
  padding: 15px;
  margin:75px auto 50px auto;
}

.form-box h1 {
  font-size:50px;
  text-align: center;
  margin-bottom: 100px;
}

label.radio {
  display: inline-block;
    padding-left: 50px;
  margin-top: 20px;


}

input[type='radio'] {
  display: inline;
}

/* Form text input */
.form-wrapper input[type=text] {
  width: 480px;
  height: 20px;
  padding: 10px 5px;
  float: left;
  font: bold 20px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #eee;
  border-radius: 3px 0 0 3px;
}

/* Form submit button */
.form-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  background: #298998;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.form-wrapper button:hover {
  background: #6db4bf;
}
/* Adding left arrow to search button */
.form-wrapper button:before {
  content: "";
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #298998 transparent;
  top: 12px;
  left: -6px;
}

.suggested {
  opacity: .7;
  background-color: white;
  width: 600px;
  padding: 15px;
  margin: 100px auto 50px auto;
}

.suggested h3 {
  text-align: center;
}

table {
  width: 100%;
}

td {
  height: 30px;
  text-align: center;
  vertical-align: top;
}

td:first-child {
  width: 50%;
}